body {
    background: #f4f4f4;
    font-family: Arial;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}
