{% extends "dashboard/base.html" %}
{% load static %}

{% block head %}
<style>
.staff-wrapper{
    width:100%;
    padding:30px;
}

.staff-wrapper h2{
    text-align:center;
    color:#0d47a1;
}

.staff-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    max-width: 1000px;   /* center look */
    margin: 30px auto;  /* center grid */
}
.card p{
    width: 100%;
    text-align: center;
}

.staff-card{
    background:white;
    padding:20px;
    border-radius:14px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
}

.staff-card img{
    width:110px;
    height:110px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:10px;
}

.staff-card h3{
    margin:10px 0 5px;
}

.staff-card p{
    color:#555;
    margin:3px 0;
}
</style>
{% endblock head %}

{% block content %}

<div class="staff-wrapper">
    <h2>Staff Records</h2>

    <div class="staff-grid">
        {% for s in staffs %}
        <div class="staff-card">

            {% if s.photo %}
                <img src="{{ s.photo.url }}">
            {% else %}
                <img src="{% static 'images/default.png' %}">
            {% endif %}

            <h3>{{ s.name }}</h3>
            <p>{{ s.position }}</p>
            <p>{{ s.phone }}</p>
            <p>{{ s.route }}</p>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
