{% extends 'dashboard/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock head %}
{% block content %}

<div class="product-grid">
    {% for product in products %}
    <a href="{% url 'product_detail' product.id %}" class="product-card-link">
        <div class="product-card">

            <div class="image-box">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% endif %}
            </div>

            <div class="product-info">
                <h3>{{ product.name }}</h3>

                <p class="price">₹{{ product.rate }}</p>
                <p class="mrp">₹{{ product.mrp }}</p>
                <p class="stock">Stock: {{ product.stock }}</p>

                <p class="offer">Min. 50% Off</p>
            </div>

        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}