<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>

<div class="topbar">
    Wholesale Staff Management & Order Collection System
</div>

<div class="container">

    <div class="sidebar">
        <a href="#">Dashboard</a>
        <a href="#">Orders</a>
        <a href="#">Stores</a>
        <a href="{% url 'product_list' %}">Products</a>
        <a href="#">Attendance</a>
        <a href="#">Staff Records</a>
        <a href="#">Reports</a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>
